[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
matplotlib = "*"
autopep8 = "*"
pandas = "*"
sklearn = "*"
keyboard = "*"
openpyxl = "*"
pyqtgraph = "*"
xlwt = "*"
install = "*"
pyqt6 = "*"
seaborn = "*"

[dev-packages]

[requires]
python_version = "3.9"
